.todo__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin: 24px;
  background-color: white;
  width: 330px;
  min-height: 100px;
  position: relative;
  box-shadow: 0px 5px 50px 0px rgba(32, 35, 41, 0.15);

  &-check {
    color: rgb(118, 118, 118);
    font-weight: bolder;
    margin-left: 8%;
    width: 24px;

    &:hover {
      color: lightgreen;
    }
  }

  &-text {
    font-size: 18px;
    max-width: 200px;
  }

  &-cross {
    color: rgb(118, 118, 118);
    font-weight: bolder;
    position: absolute;
    left: 90%;
    top: -12px;
    width: 24px;

    &:hover {
      color: red;
    }
  }
}
